<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.UniversalYoga"
        tools:targetApi="31">

        <activity
            android:name=".activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.UserManagementActivity" />

        <activity android:name=".activities.SignInActivity" />

        <activity android:name=".activities.MainActivity" />

        <activity android:name=".activities.SignUpActivity" />

        <activity android:name=".activities.AddClassActivity" />

        <activity android:name=".activities.UserDetailActivity" />

        <activity android:name=".activities.ClassDetailsActivity" />

        <activity android:name=".activities.AddSessionActivity" />

        <activity android:name=".activities.ClassManagementActivity" />

        <activity android:name=".activities.BookingManagementActivity" />

        <activity android:name=".activities.AddAccountActivity" />

        <activity android:name=".activities.SessionDetailsActivity" />

    </application>
</manifest>
